@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Athiti:400,500,600');
@import url(font-awesome.min.css);

body {
    color: #797878;
    font-size: 15px;
    font-family: 'Athiti', sans-serif;
    line-height: 1.80857;
}


a {
    color: #000000;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img{
    border-radius: 5px;
}


h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #000000;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #000000;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #000000;
    opacity: 1;
}

.top-navbar{
	position: relative;
	z-index: 10;
}

.top-navbar .navbar{
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #010101;
	font-size: 18px;
	padding: 0px 20px;
	border-radius: 4px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	background: #729ed0;
	color: #ffffff;
}
.nav-item {
    margin: 2px;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #729ed0;
	color: #ffffff;
	border-radius: 4px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover{
	background: #729ed0;
	color: #ffffff;
}
.navbar-light .navbar-toggler:hover{
	background: #729ed0;
}
/* somestuff */
.containers {
    display: grid;
    grid-gap: 10px;
}

@media (min-width: 600px) {
    .containers {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .containers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.box{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sections-p{
    width: 40%;
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
	align-self: center;
	text-align: center;
	font-size: 20px;
	background: #729ed0;
    font-weight: bold;
}
.sections-p a{
    color: white;
}

.container-p{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row{
    margin-top: 10px;
}

.lab{
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #729ed0; 
    color: #fff; 
    font-weight: bold;
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: large;
    font-weight: 700;
}

td {
    padding: 12px;
    border: 1px solid #ddd;
    font-size: medium;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* BACKGROUND IMAGE */
.cover-slides .container{
	height: 100%;
	position: relative;
	z-index: 2;
}
.cover-slides .container > .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cover-slides .container > .row {
    height: 100%;
}

.cover-slides h1{
	font-family: 'Arbutus Slab', serif;
	font-weight: 500;
	font-size: 64px;
	color: #fff;
}

/* ABOUT */
.about-section-box{
	padding: 70px 0px;
}

.inner-column{}
.inner-column h1{
	font-family: 'Arbutus Slab', serif;
	font-size: 30px;
	color: #010101;
}
.inner-column p{
	font-size: 18px;
}

/* MENU */
.searchIso{
    
}

.isoGroup{
    margin: 10px;
    padding: 5px 10px;
}

.menu-box{
	padding: 70px 0px;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Arbutus Slab', serif;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}

.cart{
    width: 70px;
    height: 70px;
    background: #cf7771;
    color: white;
    border:0;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}

.cart2{
    background: #cf7771;
    color: white;
    border:0;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 10px;
    width: 20%;
}

.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rows img{
    border-radius: 40px;
    margin: 10px;
    margin-right: 40px;
}

.filter-button-group {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
}

.filter-button-group button.active {
    background: #cf7771;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
}

.gallery-single{
	margin: 30px 0px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: #cf7771;
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Arbutus Slab', serif;
}
.why-text p{
	color: #ffffff;
	font-size: 18px;
	border-bottom: 1px dashed #010101;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;
}

.gallery-single:hover .why-text{
	bottom: 0px;
}



/* FOOTER */
.footer-area{
	padding-top: 50px;
	padding-bottom: 0px;
}
.bg-f{
	background-image: url("../images/footer-bg.jpg");
	background-attachment: scroll;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
	opacity: 0.8;
}

.footer-area .container{
	position: relative;
	z-index: 1;
}
.footer-area h3{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
	margin-bottom: 10px;
}
.footer-area p{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	padding-bottom: 10px;
}

.footer-area p.lead{
	font-size: 19px;
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-area p.lead a{
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-area p.lead a:hover{
	color: #729ed0;
}
.footer-area p a{
	font-size: 18px;
	color: #ffffff;
}
.footer-area p a:hover{
	color: #729ed0;
}

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    border: none;
    font-size: 19px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #729ed0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 100%;
	border: none;
	cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.subscribe_form .submit:hover{
	background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}
.f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
	margin-right: 10px;
}

.copyright{
	margin-top: 20px;
	position: relative;
	display: block;
	background-color: #010101;
	padding: 30px 0;
	z-index: 1;
}

/* ALL */
.page-breadcrumb {
    padding: 250px 0 150px;
    background: url(../images/all-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #729ed0;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
	font-size: 30px;
}

/* LOGIN */
.bg-white {
    background-color: #ffffff;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.rounded {
    border-radius: 0.25rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.text-gray-700 {
    color: #4a5568;
}

.text-sm {
    font-size: 0.875rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.appearance-none {
    appearance: none;
}

.border {
    border-width: 1px;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.leading-tight {
    line-height: 1.25;
}

.focus\:outline-none:focus {
    outline: none;
    box-shadow: none;
}

.focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.bg-burgundy {
    background-color: #800020;
}

.hover\:bg-burgundy-dark:hover {
    background-color: #660016;
}

.text-white {
    color: #ffffff;
}

.inline-block {
    display: inline-block;
}

.align-baseline {
    vertical-align: baseline;
}

.hover\:text-burgundy-dark:hover {
    color: #660016;
}

